body {
    padding: 0;
    margin: 0;
}

#landing-section {
    width: 100%;
    height: 100vh;
    background-color: rgb(78, 172, 221);

    padding-left: 12%;
    padding-right: 12%;
    box-sizing: border-box;

    overflow: hidden;
}

#topbar {
    display: flex;
    justify-content: space-between;
}

#top-menu-list {
    list-style: none;
    color: #fff;

    display: block;
}

.menu-item {
    display: inline-block;
    margin-right: 16px;
    font-family:  Lato, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

#landing-section-text {
    text-align: end;
    padding-top: 150px;
}

#landing-section-heading {
    font-family: "Dr Sugiyama", cursive;
    color: #fff;
    font-size: 62px;
    font-weight: 500;
    line-height: 1.1;
    margin: 0;
}

#landing-section-desc {
    font-family: Lato, sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: rgb(255, 255, 255);
}

.btn-dark {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 4px;
    margin-top: 24px;
}

.btn-dark:hover {
    background-color: #fff;
    color: #000;
}


/* SECOND SECTION START */
#second-section {
    width: 100%;
    height: 90vh;
    background-color: rgb(244, 244, 244);

    padding: 12%;
    box-sizing: border-box;
    overflow: hidden;
}

#second-section-text {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.section-heading {
    font-size: 42px;
    color: rgb(84, 84, 84);
    font-weight: 300;
    font-family: Lato, sans-serif;
    margin: 0;
}

.section-desc {
    color: rgb(126, 126, 126);
    font-size: 16px;
    font-family: Lato, sans-serif;
    line-height: 1.42857;
    margin-top: 24px;
}

#second-section-quote {
    font-size: 16.5px;
    color: rgb(126, 126, 126);
    font-style: italic;
    line-height: 1.42857;
    border-left: 8px solid rgb(78, 172, 221);

    margin: 0px 0px 20px;
    padding: 0px 20px;
}

.btn-white {
    background-color: transparent;
    color: rgb(78, 172, 221);
    border: 1px solid rgb(78, 172, 221);
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 4px;
    margin-top: 24px;
}

.btn-white:hover {
    background-color: rgb(78, 172, 221);
    color: #fff;
}

#second-section-image {
    display: inline-block;
    width: 48%;
    text-align: end;
}
/* SECOND SECTION END */

/* THIRD SECTION START */
#third_section {
    width: 100%;
    height: 90vh;
    padding: 12%;

    box-sizing: border-box;
    overflow: hidden;
}

#third-section-image {
    display: inline-block;
    width: 50%;

    position: relative;
}

#third-section-text {
    display: inline-block;
    width: 48%;
}

#devices-image {
    position: absolute;
    top: -100px;
    left: -270px;
}
/* THIRD SECTION END */



/* LAST SECTION START */
#last-section{
    width: 100%;
    background-color: rgb(19, 196, 175);
    padding: 100px;
    box-sizing: border-box;
    text-align: center;
}

#last-section-heading {
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: #fff;
    margin: 0;
}
/* LAST SECTION END */

/* FOOTER START */
#footer {
    width: 100%;
    background-color: rgb(244, 244, 244);
    padding: 70px;

    box-sizing: border-box;
    text-align: center;
}

.footer-link {
    width: 36px;
    color: rgb(84, 84, 84);
    border: 2px solid rgb(84, 84, 84);
    border-radius: 50%;
    padding: 16px;
    margin-right: 16px;
}
/* FOOTER END */


@media (max-width: 720px) {
    #landing-section-text {
        padding-top: 40px;
    }

    #top-menu-list {
        text-align: right;
    }

    #landing-section-heading {
        font-size: 48px;
    }
        
    #landing-section-desc {
        font-size: 18px;
    }

    .btn-dark {
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;
        padding: 8px 16px;
        font-size: 14px;
        border-radius: 4px;
        margin-top: 16px;
        margin-bottom: 36px;
    }

    #second-section {
        min-height: 90vh;
        height: auto;
    }

    #second-section-text {
        width: 100%;
    }

    #second-section-image {
        display: none;
    }

    #third-section-image {
        display: none;
    }

    #third-section-text {
        width: 100%;
    }

    #last-section{
        padding: 60px 0;
    }
        
    .footer-link {
        margin: 16px;
    }

}